
<section class="well">
  <ul id="about_aside" class="nav">
      <li class="nav-header">About me</li>
        </ul>
          <p>Automator,hacker,packet monkey,infosec junkie,infrastructure engineer,DevOps preacher and an occasional team manager who grew up in the ISP world.</p>
            <p>Twitter: <a href="https://twitter.com/{{site.twitter_user}}">@{{site.twitter_user}}</a><br>
              Github: <a href="https://github.com/{{site.github_user}}">@{{site.github_user}}</a><br>
                E-mail: todor AT subnet.co.za <br>
                  PGP key: <a href="{{root_url}}/files/todor-at-subnet-co-za.gpg">BF972D0D</a>
                    </p>
                    </section></p>
  </ul>
</section>
